services:
  valkey-single:
    image: valkey/valkey:8.0-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - valkey-data:/data
    profiles:
      - valkey-single

  valkey-cluster:
    image: valkey/valkey:8.0-alpine
    entrypoint:
      - /bin/sh
      - -c
      - |
        valkey-server --port 7001 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7001.conf &
        valkey-server --port 7002 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7002.conf &
        valkey-server --port 7003 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7003.conf &
        while ! valkey-cli --cluster create 127.0.0.1:7001 127.0.0.1:7002 127.0.0.1:7003 --cluster-yes; do sleep 1; done
        wait
    ports:
      - 7001-7003:7001-7003
    healthcheck:
      test: ["CMD", "valkey-cli", "-p", "7001", "CLUSTER", "INFO"]
      interval: 1s
      timeout: 20s
      retries: 10
    volumes:
      - valkey-cluster-data:/data
    profiles:
      - valkey-cluster

  app-single:
    build: .
    network_mode: service:valkey-single
    depends_on:
      valkey-single:
        condition: service_healthy
    environment:
      VALKEY_ADDRS: "localhost:6379" # NOTE: succeeds
    profiles:
      - valkey-single

  app-cluster:
    build: .
    network_mode: service:valkey-cluster
    depends_on:
      valkey-cluster:
        condition: service_healthy
    environment:
      VALKEY_ADDRS: "localhost:7001,localhost:7002,localhost:7003" # NOTE: somehow try to connect to 127.0.0.1:7001
    profiles:
      - valkey-cluster

volumes:
  valkey-data:
  valkey-cluster-data:
